.home-page{
    position: relative;
    height: 100vh;
    @mixin character-group{
        @media screen and (max-width: 991px){
            width: 50%;
            @media screen and (max-width: 991px){
                width: 80%;
            }
        }
    }

    @mixin flex(){
        margin: 0;
        padding: 0;
    }

    & .title{
        text-align: center;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    & .handler-group{
        position: absolute;
        right: 0;
        left: 0;
        top: 100px;
        bottom: 0;
    }

    #form-input-url-get-song-link{
        @include character-group();
        position: absolute;
        left: 0;
        right: 0;
        width: 40%;
        height: 5%;
        & #input-url{
            width: 100%;
            padding: 6px 29px 6px 12px;
            position: relative;
        }

        & .fa.fa-search{
            position: absolute;
            right: 25px;
            line-height: 2.5;
        }
    }   

    #show-results-search{
        @include character-group();
        position: absolute;
        top: 5%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 40%;
        & #show-result-mg{
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
        }

        & .show-data{
            overflow: scroll;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 32px;
            
            & .song-item{
                margin: 6px 0;
                padding: 0 10px;
                border-radius: 7px;
                color: black;

                & span.show-song-name{
                    background: transparent;
                    border: none;
                    font-size: 20px;
                }

                & span.show-singer-name{
                    font-size: 12px;
                    padding-left: 5px;
                }

                &:hover{
                    background: darkgrey;
                }

                &.active{
                    color: white;
                    background: darkgrey;
                }
            }
        }
    }
}